


<section class="my-8 w-[35%] max-sm:w-[90%] mx-auto bg-white rounded-lg shadow-lg p-6">
  <h2 class="text-blue-700 text-center  mb-7 font-[90px] text-[35px] ">Change Password </h2>


<form [formGroup]="changeForm" (ngSubmit)="changeSubmit()">
<div class="my-3">
  <label for="password" class="block mb-2 text-sm font-medium text-gray-600 dark:text-white">Old Password</label>
  <input formControlName="password" type="password" id="password" placeholder="Ente Your Old Password..." class="    bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
 @if (changeForm.get('password')?.errors && (changeForm.get('password')?.touched || changeForm.get('password')?.dirty)) {
  <div class="p-4 mt-0 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">

    @if (changeForm.get('password')?.getError('required')) {

      <span class="font-medium">password is Required</span>
    }
    @else if (changeForm.get('password')?.getError("pattern")) {


      <span class="font-medium">The password must contain an uppercase letter, lowercase letters, special characters like #$%, and numbers</span>

    }







  </div>




}


<div class="my-3">
  <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-600 dark:text-white">New Password</label>
  <input formControlName="newPassword" type="password" id="newPassword" placeholder="Type Your New Password..." class="    bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
  @if (changeForm.get('newPassword')?.errors && (changeForm.get('newPassword')?.touched || changeForm.get('newPassword')?.dirty)) {
  <div class="p-4 mt-0 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">

    @if (changeForm.get('newPassword')?.getError('required')) {

      <span class="font-medium">newPassword is Required</span>
    }
    @else if (changeForm.get('newPassword')?.getError("pattern")) {


      <span class="font-medium">The newPassword must contain an uppercase letter, lowercase letters, special characters like #$%, and numbers</span>

    }







  </div>




}






<button type="submit" class="px-5 py-3 my-5 text-white bg-blue-600 border rounded-md">Reset Pawword </button>






</form>

</section>


